<div class="container">
    <div class="card" style="max-width:520px;margin:48px auto">
      <h2>Créer un compte</h2>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Mot de passe</mat-label>
        <input matInput [(ngModel)]="password" type="password" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w100">
        <mat-label>Rôle</mat-label>
        <mat-select [(ngModel)]="role">
          <mat-option value="AGENT">AGENT</mat-option>
          <mat-option value="CADRE">CADRE</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onRegister()">S'inscrire</button>

      <div style="margin-top:12px;">
        <a routerLink="/login">Déjà inscrit ? Se connecter</a>
      </div>
    </div>
  </div>